.dt-sec{
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
  margin-bottom: 1.5rem;
}

.settings-heading {
  padding-left: 4px;
  border-left: 4px solid rgb(201, 201, 201);
  border-bottom: 2px solid rgb(201, 201, 201);
}

.dt-sec .sec-title{
  font-size: 1rem;
  font-weight: bold;
  padding: .5rem 0;
  border-top: 2px solid rgb(201, 201, 201);
  border-bottom: 2px solid rgb(201, 201, 201);
}

.dt-paragraph{
  position: relative;
  padding-left: 1rem;
}

/* Input */
.dt-form-group.horizontal{
  display: flex;
  flex-direction: row;
  column-gap: .5rem;
  align-items: center;
}

.kintoneplugin-input-text {
  width: 20em;
}

.unique-message{
  color: rgb(252, 32, 32);
}

.kintoneplugin-row.row-al-cen{
  display: flex;
  align-items: center;
  font-size: 14px;
}

.kintoneplugin-button-remove-row-image.hidden,
.kintoneplugin-button-remove-row-image.hidden-cond{
  display: none;
}

.checkbox-cond.hidden{
  display: none;
}

input:disabled{
  display: none;
}


.summary-list > .set{
  border-bottom: 2px solid black;
}