.settings-heading {
  padding: 1em 0;
}

.kintoneplugin-input-text {
  width: 20em;
}

.unique-message{
  color: rgb(252, 32, 32);
}

.kintoneplugin-row.row-al-cen{
  display: flex;
  align-items: center;
  font-size: 14px;
}

.kintoneplugin-button-remove-row-image.hidden,
.kintoneplugin-button-remove-row-image.hidden-cond{
  display: none;
}

.checkbox-cond.hidden{
  display: none;
}

input:disabled{
  display: none;
}